html {
  --lumo-font-family: Arial;
}

vaadin-grid::part(header-cell){
 --vaadin-grid-cell-background: #bfc2c7;
  color:black;
  font-size:16px;


}



.header1 {
  width: 100%;
  height:100px;
  background: linear-gradient(90deg, rgba(0, 99, 255, 0.8) 0%, rgba(150,62,255,1) 100%);
  color:white
}

.header1 h1 {
    margin: 0;
    color: white;
    text-align:center;
}

.list-view{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.content{
    padding-left: 70px;
    padding-right: 70px;
    box-sizing: border-box;
    width: calc(100% - 20px);
}


.arrival-field, .departure-field, .break-field, .date-picker, .employee-combobox{
    --vaadin-input-field-border-radius: 20px;
     --vaadin-input-field-height:35px;
}

.button-layout {
    width: 20px;
}
a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}